@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="container" >
    <div class="bms" >
        <h1>BookMy <span>Show</span></h1>
    </div>
</div>

<style>
      .bms{
        display: flex;
        text-align: center;
        justify-content: center;
        color: red;
        
      }
      .bms h1{
        line-height: 800px;
        font-size: 100px;
      }
      span{
        color: black;
      }
</style>