@model BookMyShowEntity.ShowTiming

<div>
    <hr />
    <a asp-controller="ShowTiming" asp-action="Index">Go to Show Timing Index</a>
    <hr />
</div>
<form method="post" enctype="multipart/form-data">
    <h2>Show Timing Entry</h2><hr />
    <div class="form-group">
        <label>Movie Name</label>
        <select asp-for="MovieId" asp-items="@ViewBag.movieidlist" class="form-control" required></select>
    </div>
    <div class="form-group">
        <label>Theatre Name</label>
        <select asp-for="TheatreId" asp-items="@ViewBag.theatreidlist" class="form-control" required></select>
    </div>
    <div class="form-group">
        <label>Show Time</label>
        <input type="datetime-local" asp-for="ShowTime" class="form-control" placeholder="Enter Show Time" required />
    </div>
    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }

</form>



